.categories_content{
    width: calc(100% - 40px);
    background-color: var(--bg-2);
    border: 1px solid var(--br-1);
    margin: 0px auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
}