@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
  --bg:rgb(248, 248, 248);
  --bg-2:white;
  --br-1:rgb(231, 231, 231);
  --color-1:black;
  --color-2:rgb(58, 58, 58);
  --color-3:rgb(114, 114, 114);
}

[data-them="dark"]{
  --bg:rgb(31, 31, 31);
  --bg-2:rgb(28, 28, 28);
  --br-1:rgb(38, 38, 38);
  --color-1:rgb(247, 247, 247);
  --color-2:rgb(214, 214, 214);
  --color-3:rgb(151, 151, 151);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rethink Sans', sans-serif;
}

body{
  min-height: 100vh !important;
  background-color: var(--bg) !important;
}

.app_container{
  display: flex;
}
.app_container .app_content{
  width: 100%;
}

.page_bar {
  /* background-color: var(--bg-2);
  border-bottom: 1px solid var(--br-1);
   position: sticky; */
  padding: 10px 20px;
  padding-bottom: 0px;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: var(--color-1);
  }
}

.g_card{
  padding: 10px;
  border: 1px solid var(--br-1);
  border-radius: 5px;
}